html {
    background-color: #1C2541;
    color: #EAE8ED;
    text-align: center;
    height: 100%;
}

body {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}

p {
    font-size: 20px;
    font-family: 'Nunito', sans-serif;
    line-height: 1.4;
}

h1 {
    text-align: center;
    font-family: 'Monoton', cursive;
    color: #F67E7D;
    font-size: 85px;
    font-weight: lighter;
    margin-top: 30px;
    margin-bottom: 25px;
    line-height: 1.5;
}

h2 {
    font-family: "Monoton", cursive;
    text-align: center;
    color: #F67E7D;
    font-size: 60px;
    font-weight: lighter;
    margin-top: 25px;
    margin-bottom: 25px;
}

button {
    height: 50px;
    width: 75%;
    background-color: #F67E7D;
    margin-top: 10px;
    margin-bottom: 25px;
}

header {
    height: 50px;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    text-align: left;
}

footer {
    display: block;
    margin-left: 25px;
    color:#F67E7D;
    display: flex;
    padding-top: 10px;
    margin-bottom: 5px;
}

header p {
    font-family: 'Merriweather', serif;
    color: #F67E7D;
    font-size: 30px;
    margin-top: 10px;
}

header nav {
    margin-top: 5px;
}

nav a {
    text-decoration: none;
    color: #F67E7D;
    padding-right: 25px;
}

footer p {
    position: absolute;
    left: 25px;
    padding-bottom: 10px;
}

footer nav {
    position: absolute;
    right: 25px;
    padding-bottom: 10px;
}



.about {
    display: grid;
    grid-template-areas: "header header header"
                         "img text text " ;
}

.about h1 {
    grid-area: header;
}

.about img {
    grid-area: img;
    height: auto;
    width: 335px;
    margin-right: 40px;
    border-radius: 10%;
    border: 4px solid #EAE8ED;
}

.about p {
    grid-area: text;
    width: auto;
    text-align: left;
    margin-top: 15px;
}

.skills {
   text-align: center; 
}

skills div {
    margin-bottom: 15px;
}

.skills img {
    display: inline;
    margin-left: auto;
    margin-right: auto;
    height: 100px;
    width: auto;
}


.suprise {
    text-align: center;
}

#picture {
    display: none;
    width: 70%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

#show {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#reset {
    display: none;
    margin-left: auto;
    margin-right: auto;
}


.contact {
    display: grid;
    grid-template-areas: "title title"
                         "img link"
                         "img email"
                         "img github";
    padding-top: 15px;
}

.contact h1 {
    grid-area: title;
}

.contact img {
    width: 300px;
    height: auto;
    grid-area: img;
    margin-top: 20px;
}

.contact div {
    display: flex;
    align-items: center;
}

.contact div img {
    height: 100px;
    width: auto;
}

.contact div p {
    margin-left: 25px;
}

.contactFooter {
    align-content: flex-end;
    margin-top: 25px;
}

.projects section {
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
}

.projects img {
    width: 60%;
    height: auto;
}

.projects p {
    width: 30%;
    height: auto;
    align-self: center;
}

.fotomatic p {
    margin-left: 10%;
}

.tea p {
    margin-left: 10%;
}

.coffee p {
    margin-left: 10%;
}

@media (max-width: 900px) {
    body {
        width: 95%;
        height: 100%;
        margin-left: auto;
        margin-right: auto;

    }

    img {
        max-width: 85%;
        height: auto;
    }

    .projects main {
        text-align: center;
        align-content: center;
    }

    .projects section {
        flex-direction: column;
        text-align: center;
    }

    .projects img {
        width: 100%;
        height: auto;
        align-self: center;
    }

    .projects section p {
        width: 100%;
        margin: 0;
    }

}