html {
    background-color: #1C2541;
    color: white;
    text-align: center;
}

body {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}

header {
    height: 50px;
    display: flex;
    flex-direction: column;
}

p {
    font-size: 20px;
    font-family: 'Nunito', sans-serif;
}

header p {
    font-family: 'Merriweather', serif;
    color: #F67E7D;
    font-size: 30px;
}

nav a {
    text-decoration: none;
    color: #F67E7D;
    padding-right: 25px;
}

h1 {
    text-align: center;
    font-family: 'Monoton', cursive;
    color: #F67E7D;
    font-size: 85px;
    font-weight: lighter;
}

h2 {
    font-family: "Monoton", cursive;
    text-align: center;
    color: #F67E7D;
    font-size: 60px;
    font-weight: lighter;
    margin-top: 10px;
    margin-bottom: 10px;
}

.about {
    display: grid;
    grid-template-areas: "header header header"
                         "img text text " ;
}

.about h1 {
    grid-area: header;
}

.about img {
    grid-area: img;
    height: auto;
    width: 335px;
    padding-right: 25px;
}

.about p {
    grid-area: text;
    width: auto;
}

.skills {
   text-align: center; 
}

.skills img {
    display: inline;
    margin-left: auto;
    margin-right: auto;
    height: 100px;
    width: auto;
}

footer {
    display: block;
    margin-left: 25px;
    color:#F67E7D;
    display: flex;
}

footer p {
    position: absolute;
    left: 25px;
}

footer nav {
    position: absolute;
    right: 25px;
}


.suprise {
    text-align: center;
}

button {
    height: 50px;
    width: 75%;
    background-color: #F67E7D;
}
